<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      YOUR STATUS UPDATE
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="form-field">
      <h3>Worked: </h3>
      <ion-item>
        <ion-textarea placeholder="Enter more information here..."></ion-textarea>
      </ion-item>
    </div>
    <div class="form-field">
      <h3>Planned :</h3>
      <ion-item>
        <ion-textarea placeholder="Enter your plans..."></ion-textarea>
      </ion-item>
    </div>
    <div class="form-field">
      <h3>Blockers :</h3>
      <ion-item>
        <ion-textarea placeholder="Enter problems you faced..."></ion-textarea>
      </ion-item>
    </div>
    <div class="form-field">
      <h3>Hours Worked :</h3>
      <ion-input type="text" placeholder="Enter Worked Hours"></ion-input>
    </div>

  </div>

</ion-content>
