.list-view {
  margin: 10% 10% 0 10%;
  background-color: var(--secondary);
  border-radius: 5px;
}
ion-img{
  border-radius: 50%;
}

.list-view .details p {
  margin: 0;
  color: var(--dark);
}
.list-view .details #year {
  font-size: smaller;
  font-weight: lighter;
  opacity: 0.5;
  font-style: italic;
}
.list-view .details #streak {
  margin-left: 20px;
}
.list-view .details #streak span {
  font-size: smaller;
  opacity: 0.2;
}
.list-view ion-row{
  border-bottom: 1px solid var(--light);
}
